<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <title>Bithu</title>
  </head>
  <body>
    <img  class="bg-img allblur" src="/img/space.jpg" alt="error">
    <section class="section-1">
      <nav id="navbar" class="allblur">
        <div class="allTheNav">
          <h1 style="display: flex; align-items: center;" class="allblur"><img src="/img/etoiles.png" alt="error">Bithu</h1>

        

          <ul id="navlist">
            <li><a href="">HOME</a></li>
            <li><a href="">ABOUT</a></li>
            <li><a href="">ROADMAP</a></li>
            <li><a href="">TEAM</a></li>
            <li><a href="">FAQ</a></li>
          </ul>
          <section class="btn-hamburger">
            <a class="toggle-button">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar1"></span>
  
            </a>
  
            <div class="two-btn">
              <button id="btn-discord">
                <img
                  id="logo-discord"
                  src="/img/discord.png"
                  alt="error"
                />JOIN
              </button>
              <button id="btn-wallet">
                <img
                  id="logo-wallet"
                  src="/img/icons8-wallet-48.png"
                  alt="error"
                />CONNECT
              </button>
            </div>
          </section>
          
            
         

      

        </div>
      </nav>

      <section id="section-2" class="allblur">

        <div id="left1"> 
          <div class="card">
            <img id="rose" src="/img/item2.png" alt="error">
          <img id="vert" src="/img/item1.png" alt="error">
          <img id="bleu" src="/img/item3.png" alt="error">
          </div>
          
        </div>
  
        <div id="right1">
            <span id="soldout" style="font-size: 15px; margin-bottom: 25px;"><h2 style="margin-right: 6px;">WHITELIST : </h2><h2 style="color: #EB1D36;"> SOLDOUT</h2></span>
            <h1 style="font-size: 45px; margin-bottom: 45px;">MINT IS LIVE NOW</h1>
            <p style="margin-bottom: 10px;">PUBLIC MINT END IN</p>
            <span id="timer" style="margin-bottom: 30px;">
              <span id="jour"></span>
              <span class="twodot">:</span>
              <span id="heure"></span>
              <span class="twodot">:</span>
              <span id="minute"></span>
              <span class="twodot">:</span>
              <span id="seconde"></span>
          </span>
            <div style="margin-bottom: 40px;" class="how-many">
              <div class="selector">
                <button class="moins">-</button>
                <input class="inpute" type="text" value="1">
                <button class="plus">+</button>
              </div>
              <button class="mint">MINT NOW</button>
            </div>
            <span style="margin-bottom: 5px;">PUBLIC MINT 0.09 ETH + GAS</span>
            <span>FLOOR PRICE 2.08 ETH</span>
        </div>
  
      </section>

      <div class="right">
        <div class="menu">
          <div class="menu-top">
            <h1 style="font-size: 40px; display: flex; align-items: center;"><img src="/img/etoiles.png" alt="error">Bithu</h1>
            <img class="cross" src="/img/cross.png" alt="" srcset="">
            </div>

            <ul id="navlist-menu">
              <li><a href="">HOME</a></li>
              <div class="br-menu"></div>
              <li><a href="">ABOUT</a></li>
              <div class="br-menu"></div>
              <li><a href="">ROADMAP</a></li>
              <div class="br-menu"></div>
              <li><a href="">TEAM</a></li>
              <div class="br-menu"></div>
              <div class="separator"></div>
              <div class="br-menu"></div>
              <li><a href="">FAQ</a></li>
              <div class="br-menu"></div>
            </ul>
            <div class="separator"></div>
            <div class="media">
              <div class="media-in">
                 <a href=""><img style="width: 40px ; height: 40px;" src="/img/opensea.png" alt="error"></a>
                 <a href=""><img style="height: 45px; width: 45px; margin-right: 8px;" src="/img/twitter.png" alt="error"></a>
                 <a href=""><img class="discord" src="/img/discord.png" alt="error"></a>
              </div>
            </div>

            <div class="menu-bottom">
              <button id="btn-menu-wallet"> <img
              id="logo-wallet"
              src="/img/icons8-wallet-48.png"
              alt="error"
            />CONNECT</button>
          </div>
          

        </div>

      </div>


    </section>

    <section class="section-3 allblur">
      <div class="alexis">
        <div class="carou">
          <div class="carrousel one"><img class="alien" src="/img/alien/alien1.png" alt="error"></div>
          <div class="carrousel two"><img class="alien" src="/img/alien/alien2.png" alt="error"></div>
          <div class="carrousel three"><img class="alien" src="/img/alien/alien3.png" alt="error"></div>
          <div class="carrousel four"><img class="alien" src="/img/alien/alien4.png" alt="error"></div>
          <div class="carrousel five"><img class="alien" src="/img/alien/alien5.png" alt="error"></div>
          <div class="carrousel six"><img class="alien" src="/img/alien/alien6.png" alt="error"></div>
        </div>
        <div class="middle">
          <button class="slide">S L I D E</button>
        </div>
      </div>
    </section>

    <footer><div class="separator2"></div></footer>
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/index.js"></script>
  </body>

  
</html>
